.App{
  max-width: 1200px;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.App h1{
  padding: 0;
  margin: 0;
  font-size: 3.7rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  text-align: center;
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50% auto;
  border: none;
  padding: 10px 20px;
}

.search-button{
  font-size: 1rem;
  background: lightblue;
  border: none;
  padding: 10px 20px;
  color: black;
}

.search-button:hover{
  font-weight: 500;
  cursor: pointer;
  color: black;
  background-color: #5ee7df;
  transition: 0.3s ease;
}

.Recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px 20px;
}